/*Body é a alteração geral de nossa página*/
*{
    box-sizing: border-box;
    height: auto;
    width: auto;
    margin: 0px;
    padding: 0px;
}
/*Header é o cabeçalho de nossa página*/
header{
    background-color: #99d9ea;
    padding: 30px;
    text-align: center;
    font-size: 15px;
    color:black;    
}
a {
    text-decoration: none;
    padding-right: 10px;
    padding-left: 0;
}
.nav {
    padding: 15px;
    background-color: #0088ac;
    display: flex;
    flex-direction: row;
}
.nav1 {
    background-color: #0088ac;
    flex: 1 100%;
    display: flex;
    align-content: flex-start;
}
.nav2 {
    background-color: #0088ac;
    flex: 0 10%;
    display: flex;
    align-content: flex-end;
}
a{
    background-color: #0088ac;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: url('Cursor\ de\ seleção.png'),auto;
  }    
a{
    background-color: #0088ac;
    color:white;
    border: 2px solid #0088ac;
  }
a:hover{
    background-color: lightblue;
    color: black;
}
footer{
    background-color: #2e3334;
    padding: 15px;
    text-align: center;
    font-size: 15px;
    color:white;
} 
