@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

.med{
    padding-top: 100px;
    text-align: center;
    font-size: 30px;
}

nav{
    display: flex;
    width: 100%;
    background: #0088ac;
    position: fixed;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
}
nav .icone{
    font-size: 30px;
    font-weight: 800;
    color:white;
    cursor: pointer;
}
nav ul{
    display: flex;
    list-style: none;
    margin: 0px;
}
nav ul li{
    margin: 0 2px;
}
nav ul li a{
    color:white;
    text-decoration: none;
    padding: 5px 10px;
}
nav ul li:hover a{
    border-radius: 10px;
    background: #99d9ea;
    color: #000;
}

/* determina como a nav se comporta em outras telas */
@media screen and (max-width: 1250px){
    nav{
        display: block;
        padding: 0;
        position: relative;
    }
    nav .icone{
        display: inline-block;
        padding: 15px 30px;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        background: white;
    }
    nav ul li{
        text-align: center;
    }
    nav ul li a{
        color: #0088ac;
        font-size: 25px;
        padding: 25px;
        display: block;
    }
}

.dtext{
    padding: 64px;
    
}
.dtext h1{
    padding: 32px;
}
.dtext ul{
    padding: 16px;
}

/*imagem de fundo*/
.fundo{
    background: url(img/cover_palmeira.png);
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    top: 0;
    z-index: -1;
 }

 footer{
    background: rgb(53, 52, 52);
    color: white;
 }
 footer ul{
    padding: 16px;
    margin-top: 16px;
 }
 footer ul li{
    list-style: none;
    margin: 16px;
 }
 footer ul li a{
    text-decoration: none;
    color: white;
 }
 footer .footer_img{
    padding-top: 20px;
 }
 footer .rodape{
    display: flex;
    justify-content: space-around;  
}

#progress-bar{
    position: fixed;
    top: 0;
    left: 0;
    height: 4px;
    width: 40%;
    background-color: #23e6dc;
    z-index: 9999;
    transition: 0.2s;
}

.social_icons{
    color: rgb(240, 237, 237);
    text-decoration: none;
    margin-right: 10px;
}
.proced{
    text-decoration: none;
    color: #000;
    transition: 0.3s ease-in-out;
    
}
.proced:hover{
    font-size: 20px;
}
.video_lop{
    margin-top: 15px;
    display: flex;
    justify-content: center;   
}